<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Fitness App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Navbar -->
    <header class="navbar">
        <div class="logo">
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='gym.PNG') }}" alt="Fitness Logo" style="height: 50px;">
            </a>
        </div>
        <nav class="nav-links">
            <a href="{{ url_for('home') }}">Home</a>

            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('contact') }}">Contact</a>
            <a class="start-btn" href="{{ url_for('select_option') }}">Start Now</a>
        </nav>
    </header>

    <!-- Main Content -->
    <main class="main-container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>